style.
  #debug a {
    color: yellow;
  }
div#debug.bg-secondary.text-white
  .container
    //- pageIDからCurrentを検索
    for k, v in pages
      if v == pageID
        h2 This Page is 
          span.text-warning '#{v}'
          
    div
      h3 Site Infomation
      div.table-responsive
        table.table.table-bordered.text-white
          tr
            th BreakPoint
            td #{bp}
          tr
            th siteName
            td  #{siteName}
          tr
            th URL
            td  #{siteURL}
          tr
            th assetsPath
            td #{assetsPath}
          tr
            th cssPath
            td #{cssPath}
          tr
            th jsPath
            td #{jsPath}
          tr
            th imgPath
            td #{imgPath}
          tr
            th fontsPath
            td #{fontsPath}
          tr
            th debugFlag
            td #{debugFlag}
          tr
            th siteName
            td #{siteName}
          tr
            th siteURL
            td #{siteURL}
          tr
            th lang
            td #{lang}
          tr
            th facebook
            td #{facebook}
          tr
            th facebookID
            td #{facebookID}
          tr
            th twitter
            td #{twitter}
          tr
            th twitterID
            td #{twitterID}
          tr
            th pages
            td #{pages}

      div
        h3 Page Structure 
        div.table-responsive
          table.table.table-bordered.text-white
            tr
              th id
              th Title 
              th Path 
              th Description
              th Keyword
            
            each k, v in pages
              tr
                td #{k.id}
                td #{k.title}
                td
                  a(href=`/${k.path}`) #{siteURL}/#{k.path}
                td #{k.description}
                td #{k.keyword}
    
