include ./_config
include ../_mixin/_picture

//- Variables from Each Page.
block variables

//- tempalate
doctype html
html(lang=lang)
  head
    //- Google Tag Manager 
    include ../_components/tag-manager-before
    include ../_layouts/head

  body(id=pageID).l-body
    if debugFlag == 1
      include ../_components/debug
    include ../_layouts/header
    
    if pageID !== 'home'
      include ../_layouts/breadcrumb

    // ========== main Start ==========
    main.l-main.border.border-primary
        //- for k, v in pages
        //-   if v == pageID
        //-     div.container
        //-       h2 This Page is => 
        //-         span.text-danger '#{v}'

        if pageID == 'home'
          div.l-home-content(id=pageID + "-content")
            block content
            
        else
          div.l-page-content(id=pageID + "-content")
            // ========== PageContenst Start ==========
            block content
            // ========== PageContenst End ==========
            block sidemenu 

    // ========== main End ==========
    include ../_layouts/footer
    include ../_layouts/script
